%p Hola #{ @resource.email }!

%p Alguien ha solicitado cambiar tu password, y lo puedes hacer a través del enlace de abajo.

%p #{link_to 'Cambiar mi password', edit_password_url(@resource, reset_password_token: @token)}

%p Si no lo has solicitado, ignora este email.
%p Tu password no se cambiará hasta que accedas al link de abajo y crees uno nuevo.
