%p Hola #{ @resource.email }!

%p Tu cuenta ha sido bloqueada por un excesivo número de fallos a la hora de iniciar sesión.

%p Haz click en el enlace de abajo para desbloquearla

%p #{link_to 'Desbloquear mi cuenta', user_unlock_url(unlock_token: @token)}
